.homeBody {
    width: 100%;
    height: 100%;
    background: #050505;
    overflow: hidden;
    position: relative;
}

.fade {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50vh;
    background-image: linear-gradient(to top, black 75%, transparent);
    z-index: 1;
}

.star-wars {
    display: flex;
    justify-content: center;
    position: relative;
    height: 800px;
    color: #feda4a;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 500%;
    font-weight: 600;
    letter-spacing: 6px;
    line-height: 150%;
    perspective: 400px;
    text-align: justify;
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
    min-height: 95vh;
    /* Added to ensure the content is clipped */
}

.crawl {
    position: relative;
    top: 9999px;
    transform-origin: 50% 100%;
    animation: crawl 60s linear infinite;
    /* Added 'infinite' to restart the animation */
}

.crawl>.title {
    font-size: 90%;
    text-align: center;
}

.crawl>.title h1 {
    margin: 0 0 100px;
    text-transform: uppercase;
}

@keyframes crawl {
    0% {
        top: 100%;
        transform: rotateX(20deg) translateZ(0);
    }

    100% {
        top: -6000px;
        transform: rotateX(25deg) translateZ(-2500px);
    }
}